#about-container {
  
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }

  .white-column{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
  }

  #about-container .white-column {
    min-height: 14rem;

  }
  #about-container .black-column {
    background-color: var(--boostrapGrey);
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  #profile-pic{
    min-height: 40rem;
    max-height: 43rem;
    width: 100%;
  }
  
  .photo{
    position: relative;
    display: flex;
    align-items: flex-end;  
    justify-content: flex-end;
  }


  
  #description{
    display: grid;
    grid-template-rows: 1fr;
    text-align: right;
   margin: 1rem;
    position: relative;
    
  }
  .lDescription p{
    margin-bottom: 0;
  }
  
  #skills-container{
    margin: 0;
  }
  
  #skills-container .black-column{
    background-color: var(--boostrapGrey);
    color: white;
  }
  
  #skills-container .white-column{
    background-color: white;
    display: none;
    

    
  }
  
  #skills-container .cont {
    border: 1px solid black;
    margin: 1rem;
    border-radius: var(--borderRadius);
  }
  
  #soft-skills {
    padding: 30px 20px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    box-shadow: 0 10px 30px -15px var(--shadow);
    
  }
  
  .hex-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hex-icon::before{
    content: '';
    box-shadow: 20px -16px wheat;
  }
  
  .hex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: black;
    
  }
  
  .soft-skills-icons {
    width: 40px;
  }
  
  figure{
    margin-inline: auto;
  }
  
  #languages-box {
    box-shadow: 0 10px 30px -15px var(--shadow);
    padding: 30px 20px 10px 20px ;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
  }
  
  #languages-box .img-lang {
    width: 60px;
  }
  
  
  
  @media (min-width: 991px) {

    #about-container .white-column{
        min-height: 80%;
    }
    #skills-container .white-column{
      display: flex;
    }
  
    #soft-skills {    
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #languages-box {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }


i{
    font-size: 1em;
}

.editPannel {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 3em;
    
  }

  .btn-cont{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .button-add {
   
 
  
    border-radius: 15px;
    height: 40px;
    width: 120px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
