<section class="container-fluid m-0 p-0 g-0 section-container" id="about-me">
  <div class="row" id="about-container">
    <!-- //About Container -->
    <div class="col-lg-6 m-0 p-0 white-column" data-aos="fade-right">
      <h2 class="hover-underline-animation-dark title">About</h2>
    </div>

    <div class="col-lg-6 m-0 p-0 black-column" data-aos="fade-left">
      <div class="photo">
        <div *ngIf="isLog" class="position-absolute editPannel">
          <button
            (click)="modalImgUpdate.openModal(onPatchValuePersona(persona))"
            class="btn btn-outline-light btn-floating mx-1"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </div>

        <img
          id="profile-pic"
          [src]="persona.photo_url || defaultProfilePic"
          alt="Gabriel Alejandro Maglia"
        />
      </div>

      <!-- PHRASES -->
      <div id="description">
        <div class="lDescription">
          <p *ngFor="let phrases of phraseArr; trackBy: trackByMethod">
            {{ phrases }}
          </p>
        </div>

        <div *ngIf="isLog" class="position-absolute editPannel">
          <button
            (click)="modalPhrasesUpdate.openModal(onPatchValuePersona(persona))"
            class="btn btn-outline-light btn-floating mx-1"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </div>

        <app-modal [title]="'Edit Phrases'" #modal2>
          <form #form action="" method="post">
            <input
              [ngStyle]="{ width: '100%' }"
              name="catchPhrase1"
              type="text"
              required
            />
            <input
              [ngStyle]="{ width: '100%' }"
              name="catchPhrase2"
              type="text"
              required
            />
            <input
              [ngStyle]="{ width: '100%' }"
              name="catchPhrase3"
              type="text"
              required
            />
            <button
              [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
              type="submit"
              class="btn btn-outline-dark btn-floating"
            >
              Accept
            </button>
          </form>
        </app-modal>
      </div>
    </div>
  </div>

  <!-- //Skill Container -->
  <div class="row" id="skills-container">
    <div class="col-lg-6 m-0 p-0 black-column">
      <div class="row cont">
        <div id="soft-skills" class="col-12">
          <!-- Skill -->
          <figure
            *ngFor="let skill of softSkills; trackBy: trackByMethod"
            class="hex-icon"
          >
            <div class="hex">
              <img class="soft-skills-icons" [src]="skill.img_skill" alt="" />
            </div>
            <figcaption class="mt-3">{{ skill.name }}</figcaption>

            <div *ngIf="isLog" class="editPannel">
              <button
                (click)="modalEditSkill.openModal(onPatchValueSkill(skill))"
                class="btn btn-outline-light btn-floating mx-1"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
                (click)="modalDeleteSkill.openModal(skill)"
                class="btn btn-floating btn-outline-light mx-1"
              >
                <i class="fa-solid fa-delete-left"></i>
              </button>
            </div>
          </figure>
        </div>
      </div>

      <div class="row cont">
        <div class="col-12" id="languages-box">
          <figure *ngFor="let skill of hardSkills; trackBy: trackByMethod">
            <img class="img-lang" [src]="skill.img_skill" alt="HTML" />
            <figcaption>{{ skill.name }}</figcaption>
            <mat-progress-bar
              class="mt-2"
              mode="determinate"
              value="{{ skill.amount }}"
            ></mat-progress-bar>
            <div *ngIf="isLog" class="editPannel">
              <button
                (click)="modalEditSkill.openModal(onPatchValueSkill(skill))"
                class="btn btn-outline-light btn-floating mx-1"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
                (click)="modalDeleteSkill.openModal(skill)"
                class="btn btn-floating btn-outline-light mx-1"
              >
                <i class="fa-solid fa-delete-left"></i>
              </button>
            </div>
          </figure>
        </div>
      </div>
      
      <div class="btn-cont">
        
        <button
          *ngIf="isLog"
          (click)="modalAddSkill.openModal(null)"
          class="button-add btn btn-outline-light btn-floating align-items-center"
        >
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="col-lg-6 m-0 p-0 white-column">
      <h2 class="hover-underline-animation-dark title">Soft And Hard Skills</h2>
    </div>
  </div>
</section>

<!-- //Modals -->
<app-modal [title]="'Add Skill'" #modalAddSkill>
  <form
    #form
    (ngSubmit)="addSkill(this.contactFormSkill)"
    [formGroup]="contactFormSkill"
  >
    <div class="form-group">
      <select [ngStyle]="{ width: '100%' }" formControlName="type" id="type">
        <option value="hard">Hard</option>
        <option value="soft">Soft</option>
      </select>
      <label for="type">Hard/Soft</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="type"
        type="text"
        required
      />
      <label for="name">Name</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="name"
        type="text"
        required
      />
      <label for="amount">Amount(0-100)</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="amount"
        type="text"
      />
      <label for="img_skill">Picture</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="img_skill"
        type="text"
      />
      <label for="persona_id">User ID</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="persona_id"
        type="text"
        readonly
        required
      />
      <label for="persona_dni_persona">User Dni</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="persona_DNI_persona"
        type="text"
        readonly
        required
      />
      <button
        [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
        type="submit"
        class="btn btn-outline-dark btn-floating"
      >
        Accept
      </button>
    </div>
  </form>
</app-modal>

<app-modal [title]="'Edit Skill'" #modalEditSkill>
  <form
    #form
    (ngSubmit)="updateSkill(this.contactFormSkill)"
    [formGroup]="contactFormSkill"
  >
    <div class="form-group">
      <select [ngStyle]="{ width: '100%' }" formControlName="type" id="type">
        <option value="hard">Hard</option>
        <option value="soft">Soft</option>
      </select>
      <label class="d-block mb-1" for="type">Hard/Soft</label>
      <label for="name">Name</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="name"
        type="text"
        required
      />
      <label for="amount">Amount(0-100)</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="amount"
        type="text"
      />
      <label for="img_skill">Picture</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="img_skill"
        type="text"
      />
      <label for="persona_id">User ID</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="persona_id"
        type="text"
        readonly
        required
      />
      <label for="persona_dni_persona">User Dni</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="persona_DNI_persona"
        type="text"
        readonly
        required
      />
      <button
        [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
        type="submit"
        class="btn btn-outline-dark btn-floating"
      >
        Accept
      </button>
    </div>
  </form>
</app-modal>

<app-modal [title]="'Delete Skill?'" #modalDeleteSkill>
  <form #form (ngSubmit)="deleteSkill(modalDeleteSkill.obj.id)">
    <h1 class="text-center mb-5" *ngIf="modalDeleteSkill.obj">
      {{ modalDeleteSkill.obj.name }}
    </h1>

    <div class="form-group">
      <button
        [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
        type="submit"
        class="btn btn-outline-dark btn-floating"
      >
        Accept
      </button>
      <button
        (click)="modalDeleteSkill.closeModal()"
        [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
        type="button"
        class="btn btn-outline-dark btn-floating"
      >
        Cancel
      </button>
    </div>
  </form>
</app-modal>

<app-modal [title]="'Change Photo'" #modalImgUpdate>
  <form
    #form
    (ngSubmit)="updatePersona(this.contactFormPersona)"
    [formGroup]="contactFormPersona"
  >
  <div class="form-group">
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="photo_url"
        type="text"
        
      />
      <button
        [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
        type="submit"
        class="btn btn-outline-dark btn-floating"
      >
        Accept
      </button>
      </div>
    </form>

</app-modal>

<app-modal [title]="'Edit Phrases'" #modalPhrasesUpdate
  >\
  <form
    #form
    (ngSubmit)="updatePersona(this.contactFormPersona)"
    [formGroup]="contactFormPersona"
  >
  <div class="form-group">
    <label for="phrase1">Phrase 1</label>
    <input
      [ngStyle]="{ width: '100%' }"
      formControlName="phrase1"
      type="text"
      required
    />
    <label for="phrase2">Phrase 2</label>
    <input
      [ngStyle]="{ width: '100%' }"
      formControlName="phrase2"
      type="text"
    />
    <label for="phrase3">Phrase 3</label>
    <input
      [ngStyle]="{ width: '100%' }"
      formControlName="phrase3"
      type="text"
    />
    <button
      [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
      type="submit"
      class="btn btn-outline-dark btn-floating"
    >
      Accept
    </button>
  </div>
  </form>

</app-modal>
