#my-work {
    background-color: var(--white);
    min-height: 60rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}
a{
    text-align: center;
    
}
#addBtn{
    margin-bottom: 1rem;
   
    width: 10rem;
}

.title{
    text-align: center;
    margin-bottom: 10rem;
    color: var(--boostrapBlack);
    top: 50%;

}