
<footer  class="bg-dark text-center text-white">
    <!-- form -->
    <div id="contact" class="content holder bg-dark text-white">
      <div class="form">
        <form
          action="/contacto"
          method="post"
          class="formulario"
        >
          <h2>Contact Me</h2>
          <p>
            <input
              type="text"
              name="nombre"
              required
            />
            <label for="nombre">Name</label>
          </p>
          <p>
            <input
              type="text"
              name="apellido"
              required
            />
            <label for="apellido">Surname</label>
          </p>
          <p>
            <input
              type="text"
              name="mail"
              required
            />
            <label for="mail">Email</label>
          </p>
          <p>
            <input
              type="text"
              name="mensaje"
              placeholder="Mensaje"
            />
            <label for="mensaje"></label>
          </p>
         
          <p>
             <button type="submit" class="btn btn-outline-light" > Send </button>
          </p>
  
        </form>
      </div>
    </div>  
    <!-- end form -->
  
  
      <!-- Grid container -->
      <div class="container-sm p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href={{socialM.facebook}} target="_blank" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href={{socialM.e_mail}}  role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href={{socialM.instagram}} target="_blank" role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href={{socialM.linkedin}} target="_blank" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
    
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href={{socialM.github}} target="_blank" role="button"
            ><i class="fab fa-github"></i
          ></a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/{{persona.telephone_persona}}" target="_blank" role="button"
            ><i class="fa-brands fa-whatsapp"></i></a>
          
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center copy p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <p class="text-white" target="_blank">{{persona.name_persona}} {{persona.surname_persona}}</p>
        
      </div>
      <!-- Copyright -->
    </footer>
  