#container {
    position: relative;
    min-height: 30rem;
    width: 100%;
    overflow-x: hidden;
  }
  #studies {
    margin: auto;
    gap: 15px;
    padding-bottom: 120px;
    overflow: scroll;
  }
  app-edit-pannel{
    display: flex;
    justify-content: flex-end;
  }
  .studies-cont {
    user-select: none;
    border-radius: var(--borderRadius);
    box-shadow: 0 10px 30px -15px var(--shadow);
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--boostrapGrey);
    color: var(--white);
  }
  .studiesBoard{
   margin-inline: center;
    text-align: center;

  }
  .img-job-cont {
    width: min(object-fit, 100%);
    display: flex;
    justify-content: center;
  }
  
  .img-thumbnail {
    min-width: 150px;
    border: none;
  }
  
  .data-cont {
    text-align: right;
  }
  
  .description {
    width: 100%;
    border-radius: var(--borderRadius);
  }
  
  .portada {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: var(--white);
    transition: ease-in-out all 2s;
  }
  
  .title {
    color: var(--boostrapBlack);
  }
  
  
  .hide{
    margin-left: -30000px
  }

  i{
    font-size: 1em;
}

.editPannel {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 3em;
    justify-content: flex-end;
  }


  /* agregado */

  #addBtn{
    margin-bottom: 5rem;
    width: 10rem;
  }

  @media (max-width: 1030px) {
    app-edit-pannel{
      display: flex;
      justify-content: center;
    }
    .studies-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .data-cont {
      text-align: center;
    }
    .img-job-cont {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  