<app-nav-bar></app-nav-bar>
<div  data-bs-spy="scroll" data-bs-target="#nav-bar" data-bs-root-margin="0px 0px 0px" data-bs-smooth-scroll="true" class="bg-light rounded-2" tabindex="0">
    <main>
        <app-front-page></app-front-page>
        <app-separator></app-separator>
        <app-about-me ></app-about-me>
        <app-separator ></app-separator>
        <section id="expStu">
            <app-studies></app-studies>
            <app-separator ></app-separator>
            <app-experience></app-experience>
        </section>
        <app-separator></app-separator>
        <app-portfolio></app-portfolio> 
    </main>
    <app-footer></app-footer>
    <app-arg-prog-logo></app-arg-prog-logo>
    
</div>