<section id="front-page">
  <h1 id="catch-phrase" #asPhrase>
    {{ catchPhrase }} <br />
    for fuN..
  </h1>

  <button
    *ngIf="isLog"
    (click)="modal.openModal()"
    class="btn btn-outline-dark btn-floating mx-1"
  >
    <i class="fa-solid fa-pen-to-square"></i>
  </button>
  <app-modal [title]="'Edit CatchPhrase'" #modal>
    <form #form action="" method="post">
      <input
        [ngStyle]="{ width: '100%' }"
        name="catchPhrase"
        type="text"
        required
      />
      <button
        [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
        type="submit"
        class="btn btn-outline-dark btn-floating"
      >
        Accept
      </button>
    </form>
  </app-modal>
</section>
