#front-page{
    min-height: 100vh ;
    display: grid;
    place-content: center;
    font-family: 'Teko', sans-serif;    
}



#catch-phrase{
    text-align: center;
    align-self: flex-end;
    animation: 2s ease-out 0s 1 blurIn;
}

@keyframes blurIn {
    0%{
         filter:blur(100px);
    }
    100%{
        filter:blur(0);
    }
}