<div id="warp">
      <form [formGroup]="form" action="post" id="formu">
            <div class="admin">
                      <div class="rota">
                            <h1>ADM</h1>
                            <input formControlName="email" id="username" class="form-control" type="text" name="name" value="" placeholder="Email"/><br />
                            <div *ngIf="Email?.errors && Email?.touched">
                              <p  *ngIf="Email?.hasError('required')" class="text-danger text-sm-center">
                                    El Email es Requerido
                              </p>
                              <p *ngIf="Email?.hasError('email')" class="text-danger">
                                    El Email esta mal escrito
                              </p>
                            </div>
                            <input formControlName="password" id="password" class="form-control" type="password" name="pass" value="" placeholder="Password"/>
                      </div>
                </div>
                <div class="cms">
                      <div class="roti">
                            <h1>LOG</h1>
                            <button id="valid" type="button" name="valid" (click)="login()">Ingresar</button><br/>                
          </div>
                </div>
          </form>
    </div>
