<article class="container-fluid m-0 p-0 g-0 section-container">
  <div id="container" class="container-xxl">
    <div
      *ngIf="!isLog"
      class="row portada"
      [ngClass]="{ hide: hide }"
      (click)="unfold()"
    >
      <div class="col-xxl-12">
        <h2
          matTooltip="Click and Hold!"
          class="hover-underline-animation-dark title"
        >
          Experience
        </h2>
      </div>
    </div>

    <div class="col-12 experienceBoard" (click)="unfold()">
      <article
        *ngFor="let job of jobs ; trackBy: trackByMethod "
        class="row mx-1 py-3 d-flex rounded-top rounded-bottom bg-none border exp-cont"
      >
      <div class="col-10 d-flex flex-column justify-content-center data-cont">
          <h4>{{ job.institution_exp }}</h4>
          <h5>{{ job.title_exp }}</h5>
          <h6>{{ job.startDate_exp}} {{ job.endDate_exp}} </h6>
          <p class="description">
              {{ job.description_exp }}
            </p>
        </div>
        
        <div class="col-2 img-job-cont">
            <img
            class="img-thumbnail"
            [src]="( job.img_exp) || defaultImgValue"
            alt={{job.institution_exp}}
            />
        </div>
        <div *ngIf="isLog" class="editPannel">
          <button
            (click)="modalEdit.openModal(this.onPatchValue(job))"
            class="btn btn-floating btn-outline-light mx-1"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button
            (click)="modalDelete.openModal(job)"
            class="btn btn-floating btn-outline-light mx-1"
          >
            <i class="fa-solid fa-delete-left"></i>
          </button>
        </div>
    </article>
    <button
        *ngIf="isLog"
        (click)="modalAdd.openModal(null)"
        id="addBtn"
        class="btn btn-outline-dark"
      >
        <i class="fa-solid fa-plus"></i> Add
      </button>
    </div>
  </div>
</article>

<div #modals>
  <!-- Add Education Modal-->
  <app-modal [title]="'Add Experience'" #modalAdd>
    <form
      #form
      (ngSubmit)="addExp(this.contactForm)"
      [formGroup]="contactForm"
    >
      <div class="form-group">
        <label for="title_exp">Title</label>
        <input
          [ngStyle]="{ width: '100%' }"
          formControlName="title_exp"
          type="text"
          placeholder=""
          required
        />
        <label for="institution_exp">Institution</label>
        <input
          [ngStyle]="{ width: '100%' }"
          formControlName="institution_exp"
          type="text"
          placeholder=""
          required
        />
        <label for="description_exp">Description</label>
        <input
          [ngStyle]="{ width: '100%' }"
          formControlName="description_exp"
          type="text"
          placeholder=""
          required
        />
        <label for="startDate_exp">Start Date</label>
        <input
          [ngStyle]="{ width: '100%' }"
          formControlName="startDate_exp"
          type="text"
          placeholder=""
          required
        />
        <label for="endDate_exp">End Date</label>
        <input
          [ngStyle]="{ width: '100%' }"
          formControlName="endDate_exp"
          type="text"
          placeholder=""
        
        />
        <label for="img_exp">Photo</label>
        <input
          [ngStyle]="{ width: '100%' }"
          formControlName="img_exp"
          type="text"
          placeholder=""
         
        />
        <label for="is_actual_job_exp">Is this your actual job?</label>
        <input
          [ngStyle]="{ width: '100%' }"
          formControlName="is_actual_job_exp"
          type="text"
          placeholder=""
      
        />
        <label for="persona_id">User ID</label>
        <input
          [ngStyle]="{ width: '100%' }"
          formControlName="persona_id"
          type="text"
          readonly
          required
        />
        <label for="persona_dni_persona">User Dni</label>
        <input
          [ngStyle]="{ width: '100%' }"
          formControlName="persona_DNI_persona"
          type="text"
          readonly
          required
        />
      </div>

      <button
        [disabled]="contactForm.invalid"
        [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
        type="submit"
        class="btn btn-outline-dark btn-floating"
      >
        Accept
      </button>
    </form>
  </app-modal>

  <!-- Edit modal -->
  <app-modal [title]="'Edit Experience'" #modalEdit>
    <form
      #form
      (ngSubmit)="updateExp(this.contactForm)"
      [formGroup]="contactForm"
    >
    <div class="form-group">
      <label for="title_exp">Title</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="title_exp"
        type="text"
        placeholder=""
        required
      />
      <label for="institution_exp">Institution</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="institution_exp"
        type="text"
        placeholder=""
        required
      />
      <label for="description_exp">Description</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="description_exp"
        type="text"
        placeholder=""
        required
      />
      <label for="startDate_exp">Start Date</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="startDate_exp"
        type="text"
        placeholder=""
        required
      />
      <label for="endDate_exp">End Date</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="endDate_exp"
        type="text"
        placeholder=""
        
      />
      <label for="img_exp">Photo</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="img_exp"
        type="text"
        placeholder=""
        
      />
      <label for="is_actual_job_exp">Is this your actual job?</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="is_actual_job_exp"
        type="text"
        placeholder=""
       
      />
      <label for="persona_id">User ID</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="persona_id"
        type="text"
        readonly
        required
      />
      <label for="persona_dni_persona">User Dni</label>
      <input
        [ngStyle]="{ width: '100%' }"
        formControlName="persona_DNI_persona"
        type="text"
        readonly
        required
      />
    </div>

      <button
        [disabled]="contactForm.invalid"
        [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
        type="submit"
        class="btn btn-outline-dark btn-floating"
      >
        Accept
      </button>
    </form>
  </app-modal>

  <!-- Delete Modal -->
  <app-modal [title]="'Delete Experience?'" #modalDelete>
    <form #form (ngSubmit)="deleteExp(modalDelete.obj.id)">
      <h1 class="text-center mb-5" *ngIf="modalDelete.obj">
        {{ modalDelete.obj.title_exp }}
      </h1>

      <div class="form-group">
        <button
          [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
          type="submit"
          class="btn btn-outline-dark btn-floating"
        >
          Accept
        </button>
        <button
          (click)="modalDelete.closeModal()"
          [ngStyle]="{ width: '100%', 'margin-top': '1rem' }"
          type="button"
          class="btn btn-outline-dark btn-floating"
        >
          Cancel
        </button>
      </div>
    </form>
  </app-modal>
</div>

<!-- Notification for no educations -->
<div
  *ngIf="jobs?.length == 0 && isLog"
  class="col-lg-12 col-md-12 col-xl-12"
>
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No hay educacion!</h4>
    <p>No se encontró ninguna educacion</p>
  </div>
</div>
<!-- Notification for no data -->
<div
  *ngIf="jobs?.length == 0 && !isLog"
  class="col-lg-12 col-md-12 col-xl-12 spinner"
>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>