<article class="container-fluid m-0 p-0 g-0 section-container">
  <div id="container" class="container-xxl">
    <div
      *ngIf="!isLog"
      class="row portada"
      [ngClass]="{ hide: hide }"
      (click)="unfold()"
    >
      <div class="col-xxl-12">
        <h2
          matTooltip="Click and Hold!"
          class="hover-underline-animation-dark title"
        >
          Experience
        </h2>
      </div>
    </div>

    <div class="col-12 experienceBoard" (click)="unfold()">
      <article
        *ngFor="let job of jobs"
        class="row mx-1 py-3 d-flex rounded-top rounded-bottom bg-none border exp-cont"
      >
      <div class="col-10 d-flex flex-column justify-content-center data-cont">
          <h4>{{ job.institution }}</h4>
          <h5>{{ job.title }}</h5>
          <h6>{{ job.date }}</h6>
          <p class="description">
              {{ job.description }}
            </p>
        </div>
        
        <div class="col-2 img-job-cont">
            <img
            class="img-thumbnail"
            src="assets/img/experience/gb.png"
            alt="Municipalidad de Granadero Baigorria"
            />
        </div>
        <app-edit-pannel></app-edit-pannel>
    </article>
    
     <app-add-btn></app-add-btn>
    </div>
  </div>
</article>
